
<html>
<% include ../partials/header.ejs %>
<body>
    <% include ../partials/nav.ejs %>
    <div >
        <h1>Login Form</h1>
        <form action="/auth/login" method="post">
            <input type="text" name="username">
            <input type="password" name="password">
            <input type="submit" >
        </form>
    </div>
    <% include ../partials/footer.ejs %>
</body>
</html>