
<html>
<% include ../partials/header.ejs %>
<body>
<% include ../partials/nav.ejs %>
<div>
    <h1>Register Form</h1>
    <form action="/auth/register" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="submit" >
    </form>
</div>
<% include ../partials/footer.ejs %>
</body>
</html>